html,body{
  color:#333;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
.disabled{
  background:#eee;
}
.button-g{
  display: inline-block;
  vertical-align: top;
  border:1px solid #d1d1d1;
  border-radius: 4px;
  background:#fff;
  padding:11px;
  box-sizing: border-box;
  color:#8a8a8a;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  &:hover{
    color:#333;
    border-color:#333;
  }
}
.no-drag {
  -ms-user-select: none; 
  -moz-user-select: -moz-none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  user-select:none;
}
#drag{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  width:8px;
  // height:100%;
  background:#465298;
  background: repeating-linear-gradient(
    180deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
  z-index: 100;
  cursor: e-resize;
  &:active{
    background:#ff8800;
    background: repeating-linear-gradient(
    180deg,
    #fcb86b,
    #ffab4a 10px,
    #ec8e23 10px,
    #ff8800 20px
  );
  }
}
.dimmed_layer{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 9999;
  background:rgba(0,0,0,.5);
  strong{
    position: absolute;
    top:50%;
    left:50%;
    color:#fff;
    font-size:30px;
    line-height: 30px;
    margin:-15px 0 0 -65px;
  }
}
.header{
  position: fixed;
  top:0;
  left:0;
  right:0;
  overflow: hidden;
  background:#465298;
  padding:15px;
  height:25px;
  // border-bottom:1px solid #aaa;
  .title{
    float: left;
    height: 25px;
    .svg{
      width:120px;
      height:25px;
    }
  }
  &-menu{
    float: right;
  }
  &-menu__btns{
    float: right;
    font-size:0;
    li{
      display: inline-block;
      button{
        font-size:24px;
        color:#fff;
        border:none;
        background:none;
        cursor: pointer;
      }
      padding:0 6px;
    }
  }
  &-menu__search{
    float: left;
    padding-right: 40px;
    label{
      cursor: pointer;
      margin: 4px 2px 0 0;
      font-size:22px;
      color:#fff;
    }
    &-input{
      width:200px;
      height:28px;
      padding:1px 6px;
      vertical-align: top;
      border:0 none;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }
  .item-svg{
    width:320px;
    height:376px;
    svg{
      width:100%;
      height:100%;
    }
    .st0{fill:#fff;}
    .st1{fill:#2D387C;}
  }
}

.container{
  position: absolute;
  overflow: hidden;
  top:55px;
  left: 0;
  right:0;
  bottom:30px;
}
.memo-side{
  position: absolute;
  // background: green;
  overflow-y: auto;
  width:310px;
  top:0;
  left:0;
  bottom:0px;
  background:#dedede;
  -webkit-transition: all .07s;
  &__list{
    min-width: 200px;
    li{
      margin:0 5px;
      margin-bottom:4px;
      border-radius: 5px;
      background:#efefef;
      &:first-child{
        margin-top:4px;
      }
    }
  }
  &__link{
    display:block;
    color:#666;
    padding:6px 10px;
    border:1px solid #efefef;
    border-radius: 5px;
    transition: background .3s;
    &:hover{
      background:#fafafa;
    }
  }
  .on{
    .memo-side__link{
      border:1px solid #2D387C;
      background:#fff;
      color:#181818;
    }
  }
  &__title,
  &__content,
  &__date{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__date{
    font-size:12px;
    color:#888;
  }
  &__content{
    font-size:13px;
  }
}
.memo-contents{
  -webkit-transition: all .07s;
  position: absolute;
  overflow: hidden;
  left:310px;
  top:0;
  right:0;
  bottom:0;
  height: 100%;
  &__fieldset-textarea{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    width:100%;
    height: auto;
    padding:20px 30px;
    margin-right:-30px;
    box-sizing: border-box;
    border:none;
    resize: none;
    background: none;
    &:focus{
      outline: none;
    }
  }
  &__fieldset-input{
    position: absolute;
    box-sizing: border-box;
    z-index: 10;
    top:0;
    left:0px;
    right:30px;
    width:100%;
    padding:30px 30px 20px;
    border:none;
    font-size:18px;
    font-weight: bold;
    &:focus{
      outline: none;
      // border-bottom:2px dashed greenyellow;
    }
  }
  &__fieldset-btns{
    position: absolute;
    bottom:10px;
    right:30px;
    .button-g{
      width:70px;
      height:40px;
      padding:0;
    }
  }
  &__save-button{
    &:hover,
    &:focus{
      color:#465298;
      border-color:#465298;
    }
  }
}

footer{
  position: fixed;
  width:100%;
  bottom:0;
  right:0;
  left:0;
  height:30px;
  line-height: 30px;
  text-indent: 15px;
  background:#454545;
  color:#ccc;
}

.login{
  background:#465298; 
  color:#fff;
}
.login-section,
.signup-section{
  .header{
    position: static;
    padding:0;
    background:none;
    text-align: center;
    height: auto;
    .title{
      float: none;
    }
  }
  .container{
    position: relative;
    top:0;
    bottom:0;
  }
}
.login-section{
  position: absolute;
  top:50%;
  left:50%;
  width:100%;
  max-width:320px;
  min-width:320px;
  margin-top:-330px;
  margin-left:-160px;
}
.signup-section{
  position: absolute;
  top:50%;
  left:50%;
  width:100%;
  max-width:320px;
  min-width:320px;
  margin-top:-290px;
  margin-left:-160px;
  .header{
    overflow: inherit;
  }
  .title-header{
    display: block;
    padding-bottom:20px;
    font-weight: normal;
    font-size:34px;
  }
  .fa-id-card-alt{
    display:block;
    font-size:150px;
    margin-bottom:20px;
  }
  .fa-cog{
    display:block;
    font-size:150px;
    margin-bottom:20px;
  }
}
.form-contents{
  width:320px;
  margin:0 auto;
  label{
    display: block;
    margin-top:15px;
    font-size: 15px;
  }
  &__fieldset-input{
    display: block;
    width:100%;
    margin-top:8px;
    box-sizing: border-box;
    border:0;
    border-radius: 4px;
    padding:11px;
    font-size: 16px;
    &:focus{
      outline: none;
    }
  }
  .button-g{
    display: block;
    width:100%;
    margin-top:15px;
    border:0;
    background:#1d2557;
    color:#fff;
    &:hover,
    &:focus{
      transition: .2s all ease;
      background:#2d387c;
    }
  }
  .from-contents__cancel-button{
    // background:#464646;
  }
}

@media screen and (max-width:640px){
  .header{
    height:55px;
    .title{
      float: none;
    }
    .header-menu{
      overflow: hidden;
      float: none;
      padding-top: 6px;
      &__search{
        padding-right:0;
      }
    }
  }
  .container{
    top:85px;
    .memo-side{
      width:220px;
    }
    .memo-contents{
      left:220px;
    }
  }
}
@media screen and (max-width:480px){
  .header{
    
    height:85px;
    text-align: center;
    .header-menu{
      float: none;
      &__btns{
        float: none;
      }
      &__search{
        float: none;
      }
    }
  }
  .container{
    top:115px;
    .memo-side{
      width:0;
    }
    .memo-contents{
      left:0;
    }
  }
}
@media screen and (max-width:375px){
  .login-section{
    .item-svg{
      transform: scale(.7);
      margin-bottom:-50px;
    }
  }
}

@media screen and (max-width:320px){
  .login-section,
  .signup-section{
    .container{
      padding:0 20px;
    }
    .form-contents{
      width:100%;
    }
  }
  
}