input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
.no-drag {
  -ms-user-select: none; 
  -moz-user-select: -moz-none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  user-select:none;
}
#drag{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  width:8px;
  // height:100%;
  background:#465298;
  background: repeating-linear-gradient(
    180deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
  z-index: 100;
  cursor: e-resize;
  &:active{
    background:#ff8800;
    background: repeating-linear-gradient(
    180deg,
    #fcb86b,
    #ffab4a 10px,
    #ec8e23 10px,
    #ff8800 20px
  );
  }
}
.header{
  position: fixed;
  top:0;
  left:0;
  right:0;
  overflow: hidden;
  background:grey;
  padding:15px;
  .title{
    float: left;
  }
  &-menu{
    float: right;
  }
  &-mnue__btns{
    display: inline-block;
    li{
      float: left;
    }
  }
  &-menu__search{
    float: right;
  }
}

.container{
  position: absolute;
  overflow: hidden;
  top:55px;
  left: 0;
  right:0;
  bottom:30px;
}
.memo-side{
  position: absolute;
  // background: green;
  overflow-y: auto;
  width:310px;
  top:0;
  left:0;
  bottom:0px;
  -webkit-transition: all .07s;
  &__list{
    min-width: 220px;
  }
}
.memo-contents{
  -webkit-transition: all .07s;
  position: absolute;
  overflow: hidden;
  left:310px;
  top:0;
  right:0;
  bottom:0;
  height: 100%;
  &__fieldset-textarea{
    position: absolute;
    top:70px;
    left:0;
    right: 0;
    bottom:0;
    width:100%;
    height: auto;
    padding:0 30px;
    margin-right:-30px;
    box-sizing: border-box;
    border:none;
    resize: none;
    background: none;
    // background: red;
    &:focus{
      outline: none;
    }
  }
  &__fieldset-input{
    position: absolute;
    box-sizing: border-box;
    z-index: 10;
    top:0;
    left:0px;
    right:30px;
    width:100%;
    padding:30px 30px 20px;
    border:none;
    font-size:18px;
    font-weight: bold;
    &:focus{
      outline: none;
      // border-bottom:2px dashed greenyellow;
    }
  }
}

footer{
  position: fixed;
  width:100%;
  bottom:0;
  right:0;
  left:0;
  height:30px;
  line-height: 30px;
  text-indent: 15px;
  background:#454545;
  color:#ccc;
}