{% extends "template.html" %}
{% set title = '진로교육자료' %}

{% block header %}
{% set headerType = 'sub' %}
{% set titH2 = '진로교육자료' %}
{% set innerLeft = 'search' %}
{% set innerRight = 'menu' %}
    {% include "header.html" %}
{% endblock %}

{% block nav %}
    {% include "nav.html" %}
{% endblock %}

{% block container %}
<h3 class="hidden">진로교육자료 본문</h3>
<div class="cont_resipe">
    <div class="tab_menu_comm">
        <strong class="hidden">진로교육자료 메뉴</strong>
        <ul role="tablist" class="list_tab tabmenu_type1">
            <li role="tab" aria-selected="true" class="on"><!-- [개발]활성화 메뉴 클래스 'on' 추가 / aria-selected="true" 변경 -->
                <a href="#" class="btn_tab">
                    유형별
                    <span class="hidden">선택됨</span>
                    <!-- [개발]활성화 메뉴 '선택됨' 텍스트 추가 -->
                </a>
            </li>
            <li role="tab" aria-selected="false">
                <a href="#" class="btn_tab">
                    대상별
                </a>
            </li>
            <li role="tab" aria-selected="false">
                <a href="#" class="btn_tab">
                    연도별
                </a>
            </li>
        </ul>
    </div>
    <div class="box_search_comm">
        <strong class="hidden">자료 검색</strong>
        <div class="item_search">
            <label for="inpSearch" class="img_comm ico_search">검색</label>
            <input type="text" id="inpSearch" class="inp_search" placeholder="검색어를 입력해주세요">
            <button type="button" class="btn_search">
                <span class="img_comm ico_del">검색어 삭제</span>
            </button>
        </div>
    </div>
    <div class="view_result_comm">
        <strong class="hidden">자료 정보</strong>
        <div class="box_result_count">
            <span class="txt_count">총<em class="emph_g">0</em>개</span>
        </div>
        <div class="view_list_comm">
            <div class="desc_data_none">
                <strong class="tit_data">조회하는 검색어와 일치하는 데이터가 없습니다.</strong>
                <span class="txt_guide">다른 검색어로 검색해 보세요.</span>
            </div>
            <div class="common_btn">
                <span class="cell_btn">
                    <a href="#" role="button" class="btn type_active">목록</a>
                </span>
            </div>
        </div>
        <a href="#" role="button" class="btn_all"><span class="hidden">자료</span>전체보기</a>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}